WCFServiceClientTest/Service References/ServiceReference1/MyServiceExample.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyServiceExample" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58444/MyServiceExample.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58444/MyServiceExample.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58444/MyServiceExample.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceTest" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyService_GetJsonData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJsonData" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetJsonData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJsonDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetXmlData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetXmlData" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetXmlData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetXmlDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetDefaultObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultObject" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetDefaultObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultObjectResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyService">
    <wsdl:operation name="GetJsonData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetJsonData" message="tns:IMyService_GetJsonData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetJsonDataResponse" message="tns:IMyService_GetJsonData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetXmlData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetXmlData" message="tns:IMyService_GetXmlData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetXmlDataResponse" message="tns:IMyService_GetXmlData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultObject">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetDefaultObject" message="tns:IMyService_GetDefaultObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetDefaultObjectResponse" message="tns:IMyService_GetDefaultObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetDataUsingDataContract" message="tns:IMyService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetDataUsingDataContractResponse" message="tns:IMyService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="MyServiceExample" />
</wsdl:definitions>